{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
<div class="container-fluid">
    {{if .}}
    <p style="color: yellow;">{{index . 0}}</p>
    {{end}}
</div>
<div>
    <form id="registrationForm" action="/login-process" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Введите email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Введите пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="stay_logged_in">
            <label class="form-check-label" for="exampleCheck1">Оставаться в системе</label>
        </div>
        <input type="submit" value="Войти">
    </form>
</div>

{{end}}
